<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>
		$(document).on('submit', '#form1', function(e){
            e.preventDefault();

                      $.ajax({
                       type: "POST",
                       url: "http://127.0.0.1:8000/calculator/",
                       dataType: "html",
                       contentType: "text/plain",
                       data:{'test': document.getElementById("result").value,
                       csrfmiddlewaretoken:('input[name=csrfmiddlewaretoken]')},
                   });
                });
	</script>
      <script>
		function display(val)
         {
             document.getElementById("result").value+=val
         }
         function solve()
         {
             let x = document.getElementById("result").value
             let y = eval(x)
             document.getElementById("result").value = y
         }
         function clr()
         {
             document.getElementById("result").value = ""
         }
         submitForm = function(){
         document.getElementById("form1").submit();
         }
      </script>

      <style>
      .btn {
         background-color:grey; 
         color: black; 
         border: solid black 2px; 
         width:100px;
         height:70px;
      }
      input[type="button"]
      {
         background-color:grey; 
         color: black; 
         border: solid black 2px; 
         width:100px;
         height:70px;
      }
         input[type="text"] 
         { 
         background-color:white; 
         border: solid black .1px; 
         width:100%
         }
    </style>
</head>
<center>
<body>
   <h1>Calculator</h1>
   <table>
      <tr>
         <tr><form id="form1">
         	{% csrf_token %}
            <input type="text" style="width:22%;height:70px;text-align: right" id="result" name="test">
            <button type="submit">submit</button>
         </tr>
         </form><br>
         <tr><input type="text" style="width:22%;height:30px;text-align: right" id="result" name="test" value={{res}}></tr>
      </tr>
   </table>
   <table border="0px">
         <tr>
            <td><input type="button" value="Add"></td>
            <td><input type="button" value="Sub"></td>
            <td><input type="button" value="Mul"></td>
            <td><input type="button" value="AC" onclick="clr()"></td>
         </tr>
         <tr>
            <td><input type="button" value="Sin"></td>
            <td><input type="button" value="Tan"></td>
            <td><input type="button" value="Cos"></td>
            <td><input type="button" value="<-" onclick="rmv()"></td>
         </tr>
         <tr>
            <td><input type="button" value="1" onclick="display('1')"/></td>
            <td><input type="button" value="2" onclick="display('2')"/></td>
            <td><input type="button" value="3" onclick="display('3')"/></td>
            <td><input type="button" value="/" onclick="display('/')"/></td>
         </tr>
         <tr>
            <td><input type="button" value="4" onclick="display('4')"/></td>
            <td><input type="button" value="5" onclick="display('5')"/></td>
            <td><input type="button" value="6" onclick="display('6')"/></td>
            <td><input type="button" value="*" onclick="display('*')"/></td>
         </tr>
         <tr>
            <td><input type="button" value="7" onclick="display('7')"/></td>
            <td><input type="button" value="8" onclick="display('8')"/></td>
            <td><input type="button" value="9" onclick="display('9')"/></td>
            <td><input type="button" value="-" onclick="display('-')"/></td>
         </tr>
         <tr>
            <td><input type="button" value="0" onclick="display('0')"/></td>
            <td><input type="button" value="." onclick="display('.')"/></td>
            <td><input type="button" value="=" onclick="submitForm()"/></td>
            <td><input type="button" value="+" onclick="display('+')"/></td>
         </tr>
      </table>
</body>
</center>
</html>