{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'calcapp/style.css' %}">

<html>
<head>
   <title>Calculator</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script>    
      $(document).on('submit', '#form1', function(e){
            e.preventDefault();

                      $.ajax({
                       type: "POST",
                       url: "calculator/",
                       data:{'input': document.getElementById("result").value,
                       csrfmiddlewaretoken:('input[name=csrfmiddlewaretoken]')},
                   }).success(function(data){
                     $('#msg').html(data);
                   }).fail(function(){
                     $('#msg').html('Syntax Error');
                   });
                });
      function display(val)
         {
             document.getElementById("result").value+=val
         }
      function back() 
         {
            var value = document.getElementById("result").value;
            document.getElementById("result").value = value.substr(0, value.length - 1);
         }
         function clr()
         {
             document.getElementById("result").value = ""
         }
      </script>
</head>
<center>
<body>
   <h1 class="title">Calculator</h1>
         <table style="border: solid black 1px">
         <tr>
            <form id="form1">
            {% csrf_token %}
            <td colspan="4"><input type="text" id="result" name="input" style="font-size:20px;height:50px;text-align: right"/></td></form><br>
         </tr>
         <tr>
            <td colspan="4"><div id="msg" type="text" style="font-size:30px;text-align: right"></div></td>
            </tr>
         <tr>
            <td><input class="btn" type="button" value="(" onclick="display('(')"></td>
            <td><input class="btn" type="button" value=")" onclick="display(')')"></td>
            <td><input class="btn" type="button" value="pow" onclick="display('**')"></td>
            <td><input class="btn" type="button" value="AC" onclick="clr()"></td>
         </tr>
         <tr>
            <td><input class="btn" type="button" value="sin" onclick="display('sin(')"></td>
            <td><input class="btn" type="button" value="cos" onclick="display('cos(')"></td>
            <td><input class="btn" type="button" value="tan" onclick="display('tan(')"></td>
            <td><input class="btn" type="button" value="DEL" onclick="back()"></td>
         </tr>
         <tr>
            <td><input class="btn" type="button" value="1" onclick="display('1')"/></td>
            <td><input class="btn" type="button" value="2" onclick="display('2')"/></td>
            <td><input class="btn" type="button" value="3" onclick="display('3')"/></td>
            <td><input class="btn" type="button" value="/" onclick="display('/')"/></td>
         </tr>
         <tr>
            <td><input class="btn" type="button" value="4" onclick="display('4')"/></td>
            <td><input class="btn" type="button" value="5" onclick="display('5')"/></td>
            <td><input class="btn" type="button" value="6" onclick="display('6')"/></td>
            <td><input class="btn" type="button" value="*" onclick="display('*')"/></td>
         </tr>
         <tr>
            <td><input class="btn" type="button" value="7" onclick="display('7')"/></td>
            <td><input class="btn" type="button" value="8" onclick="display('8')"/></td>
            <td><input class="btn" type="button" value="9" onclick="display('9')"/></td>
            <td><input class="btn" type="button" value="-" onclick="display('-')"/></td>
         </tr>
         <tr>
            <td><input class="btn" type="button" value="0" onclick="display('0')"/></td>
            <td><input class="btn" type="button" value="." onclick="display('.')"/></td>
            <td><button class="btn" type="submit" form="form1">=</button></td>
            <td><input class="btn" type="button" value="+" onclick="display('+')"/></td>
         </tr>
      </table>
</body>
</center>
</html>